.login-wrapper {
  height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("../assets/login-bg.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 400px;
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(12px);
  background: rgba(0,0,0,0.4);
  border: 1px solid orange;
  text-align: center;
  color: white;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  border-radius: 8px;
  background: transparent;
  border: 1.5px solid #60a5fa;
  color: white;
  outline: none;
}
.admin-title {
  color: white;
  margin: 10px 0 5px;
  font-weight: 600;
  font-size: 24px;
  font-family: roboto;
}

.login-card input::placeholder {
  color: #9ca3af;
}

.login-card input:focus {
  box-shadow: 0 0 8px rgba(96,165,250,0.6);
}

.login-card button {
  width: 100%;
  padding: 12px;
  background: #3b82f6;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.forgot {
  display: block;
  margin-top: 10px;
  color: orange;
  cursor: pointer;
}
.login-logo {
  width: 210px;
  margin: 0 auto 15px auto;
  display: block;
}
